.input {
  width: 100%;
  padding: 1rem 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border: 1px solid #33b249;
  box-shadow: 0 0 5px #33b249;
}

.pokemon-link {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}


.pokemon-link:nth-child(1n) {
  background-color: white;
  display: block;
}

.pokemon-link:nth-child(2n) {
  background-color: #f6f6f6;
  display: block;
}

.pokemon-link-hover:hover {
  background-color: #5adbb5;
}

.fetch-more-btn {
  padding: 1rem 0.7rem;
  background: #5adbb5;
  margin: 2rem auto;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  display: block;
  border-radius: 7px;
}

.fetch-more-btn:hover {
  background: #33b249;
}
